.audio-controls-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: #252525;

	.buttons {
		display: flex;
		justify-content: space-between;
		width: 150px;
	}
}
