.control-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	color: #fff;
	font-size: 24px;
	background-color: #1e1e1e;
	box-shadow: 0 0 5px 1px #5555ff;
	cursor: pointer;
}
