.list-element-container {
	display: flex;
	align-items: center;
	width: 300px;
	padding: 6px;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: #222;
	}

	.image {
		width: 50px;
		height: 50px;
		background-color: #fff;
	}

	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 50px;
		width: 100%;
		color: #fff;
		margin-left: 10px;
		font-family: 'Roboto', sans-serif;
		word-break: word-break;

		.title {
			font-size: 13px;
			overflow: hidden;
		}
	}
}

a {
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.list-element-container {
		width: 240px;

		.text {
			.title {
				font-size: 12px;
				overflow: hidden;
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-height: 540px) {
	.list-element-container {
		width: 100%;
		padding: 6px 14px;
	}
}

@media screen and (orientation: portrait) and (max-width: 540px) {
	.list-element-container {
		width: 100%;
		padding: 6px 14px;
	}
}
