.audio-controls-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 60px;
	background-color: #252525;

	.buttons {
		display: flex;
		justify-content: space-between;
		width: 150px;
	}

	.volume-container {
		.volume-button {
			position: absolute;
			top: 50%;
			right: 30px;
			transform: translateY(-50%);
			height: 30px;
			width: 30px;
			font-size: 30px;
			color: #fff;
			border: none;
			background-color: transparent;
			cursor: pointer;
		}
	}
}
