.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 60px;
	background-color: #252525;

	.wave {
		height: 50px;
	}

	.logo {
		height: 50px;
		align-self: center;
	}

	.reversed {
		transform: scaleX(-1);
	}
}

@media screen and (max-width: 1024px) {
	.header {
		height: 40px;

		.wave {
			height: 30px;
		}

		.logo {
			height: 30px;
		}
	}
}
